.information {

  font-family: monospace;
  padding: inherit;
}

@media screen and (min-width: 768px) {

.info2 {
  margin-left: 90px;
  margin-right: 90px;
  font-size: 15px;

}

.margin3{
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 50px;
}
}

@media screen and (max-width: 767px) {

.margin2{
  margin-top: 32px;
}
}

.head2  {
  font-size: 40px;
}
.heading{

  background-color: #1a1a1a;
  color: #ffffff;
  text-align: center;
  border: 12px;
  border-style:none none dashed none;
  border-color: #fff;
  border-radius: 10px;

}
.links{
  color: #fff;
  font-size: 30px;
  background-color: #ff4d4d;
  border-radius: 5px;
}

.head{
  background-color: #fff;
}

#myslc{
  background-color: #f1f1f1;
}


.links2{
  color: #fff;
  font-size: 30px;
  background-color: #3399FF;
  border-radius: 5px;
}

.darth{
  font-size: 1px;
}
